<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binder av Linus J</title>
    <link rel="stylesheet" href="s.css">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="image">
        <img src="images/<%= i %>" width="" alt="Binder Bild">
        <div class="bottom-right">
            <a href="/next" class="btn btn-white btn-animate">
                <h1>&#9989;</h1>
            </a>
        </div>
        <div class="bottom-left">
            <a href="#" onclick="" class="btn btn-white btn-animate">
                <h1>&#10060;</h1>
            </a>
        </div>
    </div>
    
</body>

</html>